@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="ccontainer">
    <h1>Alla projekt</h1>
    <table>
        <thead>
            <tr>
                <th>Projektnamn</th>
                <th>Info</th>
                <th>Användare</th>
                <th></th> <!-- Tom för meddelandelänkar -->
            </tr>
        </thead>
        <tbody>
            <!-- Hårdkodade exempelmeddelanden -->
            <tr>
                <td>Bygg en bro</td>
                <td>Vi ska bygga ...</td>
                <td>Hans, Ola, Sven</td>
                <td><a href="#">Gå med i projekt</a></td>
            </tr>
            <tr>
                <td>Skolanspassning</td>
                <td>Projekterar en undersökning</td>
                <td>Sara, sixten</td>
                <td><a href="#">Gå med i projekt</a></td>
            </tr>
            <!-- Ytterligare rader fylls på med C# -->
        </tbody>
    </table>
</div>