


<h1>Logga in</h1>
<div class="login-container">
    <form action="/Home/Login" method="post">
        <div class="form-group">
            <label for="username">Användarnamn:</label>
            <input type="text" id="username" name="Username">
        </div>

        <div class="form-group">
            <label for="password">Lösenord:</label>
            <input type="password" id="password" name="Password">
        </div>

        <div class="form-group">
            <input type="submit" value="Logga in">
        </div>
    </form>

    <div class="register-link">
        <a href="/path/to/registration">Registrera mig</a>
    </div>
</div>
