@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Skill
                <span class="text-primary">Skulpture</span>
            </h1>
            <div class="subheading mb-5 p-5">
                <h2>Se senaste cv på sidan</h2>
            <div class="row align-items-center pt-3">
                <div class="col">
                    <img src="/lib/NewFolder/logo1.png" class="img-thumbnail" alt="bild" />
                    <h3>Personnamn</h3>
                    <h4>Kompetenser</h4>
                    <p>Detta är mina kompetenser</p>
                </div>
                <div class="col">
                    <img src="/lib/NewFolder/logo1.png" class="img-thumbnail" alt="bild" />
                    <h3>Personnamn</h3>
                    <h4>Kompetenser</h4>
                    <p>Detta är mina kompetenser</p>
                </div>
                <div class="col">
                    <img src="/lib/NewFolder/logo1.png" class="img-thumbnail" alt="bild" />
                    <h3>Personnamn</h3>
                    <h4>Kompetenser</h4>
                    <p>Detta är mina kompetenser</p>
                </div>
            </div>
            </div>
        </div>

        <div class="continer subheading pt-5">
            <h2>Senaste upplagda projektet</h2>
            <P class="text-bg-primary">Projektnamn</P>
            <p>Projekrbeskrivning lorem psum asum ipsun ias snasd jacvas</p>
            <button class="btn btn-primary btn-lg">Gå med</button>
        </div>
    </section>



    <section class="resume-section">
        <div class="row align-items-center">
            <div class="col">
                <img src="/lib/NewFolder/logo4.png" class="img-thumbnail" alt="bild"/>
                <h3>Personnamn</h3>
                <h4>Kompetenser</h4>
                <p>Detta är mina kompetenser</p>
            </div>
            <div class="col">
            <img src="/lib/NewFolder/logo4.png" class="img-thumbnail" alt="bild" />
                <h3>Personnamn</h3>
                <h4>Kompetenser</h4>
                <p>Detta är mina kompetenser</p>
            </div>
            <div class="col">
            <img src="/lib/NewFolder/logo4.png" class="img-thumbnail" alt="bild" />
                <h3>Personnamn</h3>
                <h4>Kompetenser</h4>
                <p>Detta är mina kompetenser</p>
            </div>
        </div>
    </section>

