@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    <!-- Header för startsidan-->
    <section >
        <div class="container-fluid">
            <img class="img-fluid" src="~/lib/NewFolder/logo2.png"/>
        </div>
    </section>

    <section class="bg-primary text-light p-5">
        <div class="container">
            <div class="d-md-flex justify-content-between align-items-center">
                <h3 class="mb-3">Sök på cv</h3>

            <div class="input-group mb-3 cvsearch-input">
                    <input type="text" class="form-control" placeholder="Sök på användares namn" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Sök</button>
                </div>

            </div>

        </div>

    </section>

    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <div class="subheading mb-5 p-5">
                <h2>Se senaste cv på sidan</h2>
            <div class="row align-items-center pt-3">
                <div class="col">
                    <img src="/lib/NewFolder/logo1.png" class="img-thumbnail" alt="bild" />
                    <h3>Personnamn</h3>
                    <h4>Kompetenser</h4>
                    <p>Detta är mina kompetenser</p>
                </div>
                <div class="col">
                    <img src="/lib/NewFolder/logo1.png" class="img-thumbnail" alt="bild" />
                    <h3>Personnamn</h3>
                    <h4>Kompetenser</h4>
                    <p>Detta är mina kompetenser</p>
                </div>
                <div class="col">
                    <img src="/lib/NewFolder/logo1.png" class="img-thumbnail" alt="bild" />
                    <h3>Personnamn</h3>
                    <h4>Kompetenser</h4>
                    <p>Detta är mina kompetenser</p>
                </div>
            </div>
            </div>
        </div>
    </section>
    <section>
    <div class="continer subheading pt-5">
        <h2>Senaste upplagda projektet</h2>
        <P class="text-bg-primary">Projektnamn</P>
        <p>Projekrbeskrivning lorem psum asum ipsun ias snasd jacvas</p>
        <button class="btn btn-primary btn-lg">Gå med</button>
    </div>
    </section>



    <section class="resume-section">
        <div class="row align-items-center">
            <div class="col">
                <img src="/lib/NewFolder/logo4.png" class="img-thumbnail" alt="bild"/>
                <h3>Personnamn</h3>
                <h4>Kompetenser</h4>
                <p>Detta är mina kompetenser</p>
            </div>
            <div class="col">
            <img src="/lib/NewFolder/logo4.png" class="img-thumbnail" alt="bild" />
                <h3>Personnamn</h3>
                <h4>Kompetenser</h4>
                <p>Detta är mina kompetenser</p>
            </div>
            <div class="col">
            <img src="/lib/NewFolder/logo4.png" class="img-thumbnail" alt="bild" />
                <h3>Personnamn</h3>
                <h4>Kompetenser</h4>
                <p>Detta är mina kompetenser</p>
            </div>
        </div>
    </section>

